@import 'interactive-common';
@import 'colors';
@import 'font-mixins';

:host {
  max-width: 100%;
}

::ng-deep button {
  @include dt-interactive-reset();
  @include dt-main-font();
}

::ng-deep .dt-uxd-node-content p {
  margin-bottom: 0;
}

.dt-uxd-node {
  height: auto;
  width: 100%;
  border-top: 2px solid #00a1b2;
  border-bottom: 2px solid #00a1b2;
}

.dt-uxd-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
}

.dt-uxd-node-content {
  width: fit-content;
  margin: 4px auto;
  padding: 4px;
  border-radius: 2px;
}

.dt-uxd-node-edges {
  max-height: 36px;
  width: fit-content;
  margin: 4px auto;
}

.dt-uxd-button {
  height: 32px;
  min-width: 40px;
  border-radius: 3px;
  margin: 0 4px;
  color: white;

  &:disabled {
    background-color: $gray-300;

    &:hover {
      background-color: $gray-300;
    }
  }
}

.dt-uxd-yes {
  background-color: $purple-600;

  &:hover {
    background-color: $purple-700;
  }

  &:active {
    background-color: $purple-800;
  }
}

.dt-uxd-no {
  background-color: $red-500;

  &:hover {
    background-color: $red-600;
  }

  &:active {
    background-color: $red-700;
  }
}

.dt-uxd-got-it {
  background-color: $purple-600;

  &:hover {
    background-color: $purple-700;
  }

  &:active {
    background-color: $purple-800;
  }
}

.dt-uxd-start-over-button {
  background-color: $turquoise-500;

  &:hover {
    background-color: $turquoise-600;
  }

  &:active {
    background-color: $turquoise-700;
  }
}

.dt-uxd-back-button {
  background-color: $purple-600;

  &:hover {
    background-color: $turquoise-600;
  }

  &:active {
    background-color: $turquoise-700;
  }
}

.dt-uxd-task-node-content {
  margin: 0 auto;
  padding: 4px;
}

.dt-uxd-task-node-wrapper {
  max-width: 100%;
  background-color: #fff;
  border: 2px double $purple-600;
  margin: 4px;
}

.dt-uxd-navigation {
  width: fit-content;
  margin: 4px auto;
}
