@import 'colors';
// @import 'font-mixin';

.dt-uxd-task-node-wrapper {
  max-width: 100%;
  background-color: #fff;
  border: 2px double $purple-600;
}

.dt-uxd-task-node-content {
  margin: 0 auto;
}
