<dt-slider [value]="5.5" [min]="0" [max]="10" [step]="0.5">
  <dt-slider-label>label</dt-slider-label>
  <dt-slider-unit>units</dt-slider-unit>
</dt-slider>

<dt-slider [value]="25" [min]="25" [max]="40" [step]="5">
  <dt-slider-label>label</dt-slider-label>
  <dt-slider-unit>units</dt-slider-unit>
</dt-slider>

<dt-slider [value]="3000" [min]="0" [max]="4000" [step]="20">
  <dt-slider-label>label</dt-slider-label>
  <dt-slider-unit>units</dt-slider-unit>
</dt-slider>

<dt-slider [value]="0" [min]="0" [max]="10" [step]="5">
  <dt-slider-label>label</dt-slider-label>
  <dt-slider-unit>units</dt-slider-unit>
</dt-slider>
